html {
	background-color: #262626;
}

h1,
h2,
h3,
p,
span,
a {
	color: #fff;
}

h1 {
	margin: 
}

i { 
	color: #2ae8b7; 
	-webkit-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
	min-width: 20px;

}

.about .fa {
	margin-right: 10px;

}

i:hover {
	color: #05a362;
	-webkit-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}

#wrap {
	margin-top: 50px;
}


header h1 {	font-size: 2em; }
header h2 {
	font-size: 2em;
	text-align: left;
}
.about {
	border-left: #555 1px solid;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.about h2 { 
	font-size: 1.8em; 
}
.about  h3 { font-size: 1.4em; }
.about p {
	color: #aaa;
}

.star-off {
	color: #888;
}

.skill {
	text-align: left;
	min-width: 80px;
}

.logo {
	max-width: 50px;
	margin-right: 10px;
}

span {
	margin-top: 5px;
	margin-bottom: 20px;
	display: block;
}
@media screen and (max-width: 479px) {
	#wrap {
		margin-top: 20px;
	}
	.about {
		margin-top: 20px;
		border-left:none;
		border-top:  #555 1px solid;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.flip-container { margin-bottom: 50px; }
}

@media screen and (min-width: 480px) and (max-width: 600px){
		.flip-container { margin-bottom: 120px; }
}
